body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(254, 197, 238);
}

.swipe-action__leading {
  background-color: rgb(0, 166, 255);
  color: white;
  margin-bottom: .8rem;
  margin-top: 0.5rem;
}

.swipe-action__trailing {
  background-color: #d01414;
  margin-bottom: .8rem;
  margin-top: 0.5rem;
  color: white;
}

.swipeable-list .swipe-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  text-align: right;
}

.modal {
  opacity: 0;
  transition: 1s;
}

.animar{
  opacity: 1;

}

.Panel_notas{
  transform: scaleY(0);
  transition: .3s;
}

.animarNotas{
  transform-origin: bottom;
 transform: scaleY(1);
}

.stephanie{
  font-family: corinthia;
  font-weight: bolder;
}
.header{
  background-image: url(img/bg-header2.jpg);
  background-position:right;
  background-size: cover;
}